parameters:
	ignoreErrors:
		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Features/Facebook/HandleWebhook/Actions/CreateFacebookAttachmentMessageAction.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Features/Facebook/SendFacebookMessage/Text/SendFacebookTextMessageAction.php

		-
			message: '#^Call to static method new\(\) on an unknown class Database\\Factories\\AttachmentFactory\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/AttachmentModel.php

		-
			message: '#^Call to static method new\(\) on an unknown class Database\\Factories\\ConversationFactory\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/ConversationModel.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany\:\:unread\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/CustomerModel.php

		-
			message: '#^Call to static method new\(\) on an unknown class Database\\Factories\\CustomerFactory\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/CustomerModel.php

		-
			message: '#^Call to static method new\(\) on an unknown class Database\\Factories\\CustomerStatusFactory\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/CustomerStatusModel.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/FcmTokenModel.php

		-
			message: '#^Call to static method new\(\) on an unknown class Database\\Factories\\MessageFactory\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/MessageModel.php

		-
			message: '#^Access to an undefined property App\\Models\\Payment\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Payment.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:quotaInterval\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/UserWebsite.php
